
QonquestOfVikings/QonquestOfVikings/bin/

QonquestOfVikings/QonquestOfVikings/obj/Debug/

QonquestOfVikings/\.vs/QonquestOfVikings/v15/\.suo

*.exe

*.pdb
*.exe
QonquestOfVikings/.vs/QonquestOfVikings/v15/.suo
